# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

/ios/build/
/ios/SpotifyApp.xcodeproj/
/ios/SpotifyApp.xcworkspace/
/ios/Pods/

/android/build/
/android/SpotifyApp/


# Webstorm
.idea
.idea/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
